{
  "root": true,
  "extends": ["@zmi"],
  "rules": {
    "global-require": "off",
    "no-case-declarations": "off",
    "import/no-dynamic-require": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off"
  }
}
