{
  "root": true,
  "extends": ["zmi/typescript"],
  "rules": {
    "global-require": "off",
    "no-case-declarations": "off",
    "import/no-dynamic-require": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-continue": "off"
  },
  "overrides": [
    {
      "files": ["examples/normal-react/*.tsx"],
      "extends": ["zmi/react"]
    },
    {
      "files": ["examples/normal-vue/*.tsx", "examples/normal-vue/*.vue"],
      "extends": ["zmi/vue"]
    }
  ]
}
