.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .footer {
    font-size: 0.15rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerAnchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
}

.footer {
  position: absolute;
  color: rgba(153, 153, 153, 0.459);
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
